# Файли Gradle
.gradle /
будувати /

# Локальний файл конфігурації (шлях до SDK тощо)
local.properties

# Файли журналу/ОС
* .log

# Файли та папки, створені Android Studio
захоплення /
.externalNativeBuild /
.cxx /
* .apk
output.json

# IntelliJ
* .iml
.idea /
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Файли сховища ключів
* .jks
* .keystore

# Служби Google (наприклад, API або Firebase)
google-services.json

# Профілювання Android
* .hprof
